In [1]:
from datetime import datetime

In [3]:
from datetime import timedelta

In [10]:
start = datetime(2018,10,10)

In [5]:
start + timedelta(12)

datetime.datetime(2018, 10, 22, 0, 0)

In [11]:
start - 2 * timedelta(12)

datetime.datetime(2018, 9, 16, 0, 0)

In [12]:
start

datetime.datetime(2018, 10, 10, 0, 0)

In [13]:
value = '2011-01-03'

In [14]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
datestrs = ['7/6/2011', '8/6/2011']

In [16]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [19]:
import pandas as pd
import numpy as np

In [21]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
datetime(2011, 1, 7), datetime(2011, 1, 8),
datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)

In [22]:
ts

2011-01-02    0.340103
2011-01-05    0.401767
2011-01-07    0.049951
2011-01-08    0.846430
2011-01-10    0.731589
2011-01-12   -0.616385
dtype: float64

In [25]:
ts + ts[::2]

2011-01-02    0.680205
2011-01-05         NaN
2011-01-07    0.099902
2011-01-08         NaN
2011-01-10    1.463177
2011-01-12         NaN
dtype: float64

In [27]:
ts[::2]

2011-01-02    0.340103
2011-01-07    0.049951
2011-01-10    0.731589
dtype: float64

In [28]:
ts.index[2]

Timestamp('2011-01-07 00:00:00')

In [29]:
ts[ts.index[2]]

0.04995101483745264

In [30]:
longer_ts = pd.Series(np.random.randn(1000),
index=pd.date_range('1/1/2000', periods=1000))

In [31]:
longer_ts

2000-01-01   -1.623429
2000-01-02    0.152329
2000-01-03   -0.300929
2000-01-04    0.649633
2000-01-05    0.381286
2000-01-06    2.757400
2000-01-07    1.848595
2000-01-08    3.292024
2000-01-09    0.903076
2000-01-10   -0.358339
2000-01-11    0.762545
2000-01-12    0.143984
2000-01-13   -2.321448
2000-01-14   -1.157004
2000-01-15    0.234426
2000-01-16   -0.792989
2000-01-17    1.838467
2000-01-18    1.004395
2000-01-19   -0.119491
2000-01-20   -1.440462
2000-01-21    0.766729
2000-01-22   -0.721510
2000-01-23    1.848655
2000-01-24   -1.238416
2000-01-25   -0.755862
2000-01-26   -0.418887
2000-01-27    0.443892
2000-01-28   -0.269247
2000-01-29    0.956491
2000-01-30    0.353852
                ...
2002-08-28   -0.204677
2002-08-29   -0.494202
2002-08-30   -1.981955
2002-08-31   -0.294790
2002-09-01   -0.470487
2002-09-02    1.373031
2002-09-03    1.040411
2002-09-04    1.048275
2002-09-05   -0.938588
2002-09-06   -0.903132
2002-09-07    0.808571
2002-09-08   -0.275554
2002-09-09   -0.541663
2002-09-10    1.424973
2002-09-11   -0.349336
2002-09-12    0.029949
2002-09-13    0.454137
2002-09-14    0.882445
2002-09-15   -1.829080
2002-09-16    1.399181
2002-09-17    0.248291
2002-09-18   -1.046042
2002-09-19   -0.786232
2002-09-20   -0.574912
2002-09-21    2.059586
2002-09-22   -0.363665
2002-09-23    1.160927
2002-09-24    1.651334
2002-09-25    0.706535
2002-09-26   -0.368863
Freq: D, Length: 1000, dtype: float64

In [32]:
longer_ts = pd.Series(np.random.randn(10),
index=pd.date_range('1/1/2000', periods=10))

In [33]:
longer_ts

2000-01-01   -0.539374
2000-01-02    1.457661
2000-01-03   -1.101808
2000-01-04   -0.327968
2000-01-05   -0.178803
2000-01-06   -0.624574
2000-01-07    0.336731
2000-01-08   -0.107082
2000-01-09   -1.634117
2000-01-10   -0.857620
Freq: D, dtype: float64