In [1]:
a = [1,3,5,7,9,11]
#b = [2,6,10,14,18,22]

In [2]:
b = []
for i in a:
    b.append(i * 2)
print(b)

[2, 6, 10, 14, 18, 22]

In [4]:
d = [i * 2 for i in a]
print(d)

[2, 6, 10, 14, 18, 22]

In [10]:
#[1,4,9,16,25,36]
e = []
for j in range(1,7): #range(1,7)
    e.append(j ** 2)
print(e)

[1, 4, 9, 16, 25, 36]

In [11]:
f = [j ** 2 for j in range(1,7)]
print(f)

[1, 4, 9, 16, 25, 36]

In [7]:
#[36,25,16,9,4,1]
g = []
for k in range(6,0,-1):
    g.append(k ** 2)
print(g)

[36, 25, 16, 9, 4, 1]

In [9]:
h = [k ** 2 for k in range(6,0,-1)]
print(h)

[36, 25, 16, 9, 4, 1]